@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'NanumSquare';
  src: url('../public/fonts/NanumSquareR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquare';
  src: url('../public/fonts/NanumSquareB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .search-shadow {
    box-shadow: 5px 3px 1px  rgba(0, 0, 0);
  }

  .widget-label {
    height : 3.5rem;
    width : 6.25rem;
  }

  .todo-section {
    grid-column-start : 1;
    grid-column-end : 13;
  }
}

html, body {
  height: 100%;
  margin : 0;
  padding : 0;
}

body {
  font-family: 'NanumSquare';
  box-sizing: border-box;
  width: 100vh
}

.container {
  /* max-width: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  margin: 0 auto;
  padding: 0 1.5rem; */
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  

}

  @media screen and (min-width : 1920px) { 
    .container {
      display: grid;
      grid-template-columns: repeat(12, 78px);
      grid-template-rows : 60px 100px 1fr;
      column-gap: 24px;
    }
  }

  @media screen and (min-width : 744px) and (max-width : 1919px) {
    .container {
      display: grid;
      grid-template-columns: repeat(8, 73px);
      grid-template-rows : 60px 100px 1fr;
      column-gap: 16px; 
    }
  }

  @media screen and (min-width : 375px) and (max-width : 743px) {
    .container {
      padding : 0 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows : 60px 100px 1fr;
      column-gap: 8px;
    }
  }
